[Unit]
Description=Renew Certbot certificates that are near expiry

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash --norc -c 'sleep "$(( ($RANDOM % (60 * 60 * 6)) + 1 ))" && /usr/bin/certbot renew'
