[Unit]
Description=Mount Mail NFS share
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=network.target

[Mount]
What={{mail_nfs_host}}:{{mail_nfs_share_dir}}
Where={{mail_nfs_mount_dir}}
Type=nfs
Options=rw,hard

[Install]
WantedBy=multi-user.target
